.keyword-container {
    position: absolute;
    /*top: 100%;*/
    left: 50%;
    transform: translateX(-50%);
}

.case-sensitive-error {
    color: #bb3b00;
    margin: 5px;
    border-bottom: solid 5px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}

.case-sensitive-error:hover {
    color: #772700;
    width: 120%;
    transition: .5s;
    cursor: pointer;
}


.to-output {
    color: #0b9c06;
    margin: 5px;
    border-bottom: solid 5px;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
}

.to-output:hover {
    color: #034002;
    width: 120%;
    transition: .5s;
    cursor: pointer;
}