.input-field {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-field {
    margin: 16px;
    display: inline-flex;
    border-radius: 10px;
}

.input-in {
    padding: 6px;
    overflow: hidden;
}

.button-fa {
    overflow: hidden;
}

.search-icon {
    font-size: 1em;
}

p {
    text-align: center;
}

